/* styles.css */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f4f4f4;
}

h1 {
    color: #333;
}

#task-message {
    font-size: 1.5rem;  /* Adjust font size as needed */
    text-align: center;
    margin-bottom: 20px;  /* Add space between the prompt and the image */
    position: relative;
    z-index: 10;  /* Ensure it's on top of other elements */
}

#game-image {
    width: 60%;
    max-width: 600px;
    margin: 0px auto;
    display: block;
}

#start-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
}

#result-message {
    font-size: 1.2rem;
    color: green;
    margin-top: 20px;
}

#score-display {
    margin: 20px;
    font-size: 1.2rem;
}

#reset-button {
    padding: 10px 20px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}
